body {
	background-size: 100%;
	
}

#themeSelect {
	font-family: 'Comfortaa', cursive;
	font-size: 14px;
	color: indigo;
	background-color: white;
	border: solid indigo 2px;
	width: 185px;
	padding: 1px 10px 1px 15px;
}

#submitTheme {
	font-family: 'Righteous', cursive;
	background-color: orange;
	color: whitesmoke;
	font-size: 14px;
	border-radius: 12px;
	border-color: darkorange;
	margin: 1px 5px 5px 40px;
}
#submitTheme:hover {
	background-color: deeppink;
}

canvas { 
    display: inline-block;
    position: relative;
    margin-left: 180px;
}

form {
	display: inline-block;
	position: absolute;
	font-family: 'Comfortaa', cursive;
	background-color: white;
	padding-right: 30px;
	border: solid indigo 3px;
	color: indigo;
	margin-left: 50px;
}

li {
	padding: 3px 0px 2px 0px;
}

#remove {
	display: inline-block;
	position: absolute;
	margin: 4px 20px 20px 50px;
	font-family: 'Righteous', cursive;
	background-color: orange;
	color: whitesmoke;
	font-size: 14px;
	border-radius: 12px;
	border-color: darkorange;
}

#remove:hover {
	background-color: deeppink;
}


#spin {
	height: 38px;
	width: 180px;
	margin-left: 340px;
	font-size: 16px;
	background-color: orange;
	color: whitesmoke;
	border-radius: 12px;
	border-color: darkorange;
	font-family: 'Righteous', cursive;
}

#spin:hover {
	background-color: deeppink;
}