body {
	background-size: 100%;
	
}

#fastfoodSelect #restaurantsSelect {
	background-color: white;
	margin: 10px;
	padding: 15px;
}

#submitTheme {
	font-family: 'Righteous', cursive;
	background-color: orange;
	color: whitesmoke;
	font-size: 14px;
	border-radius: 12px;
	border-color: darkorange;
}
#submitTheme:hover {
	background-color: deeppink;
}

label {
	font-family: 'Comfortaa', cursive;
	font-size: 14px;
	color: indigo;
	text-shadow: silver 1px 1px 1px;
}

canvas { 
    border: 1px solid transparent;
    display: inline-block;
    position: relative;
    margin-left: 200px;
}

form {
	display: inline-block;
	position: absolute;
	font-family: 'Comfortaa', cursive;
	background-color: white;
	padding-right: 30px;
	border: solid indigo 3px;
	/*add indigo shadow to box perhaps change font color*/
}

li {
	padding: 5px;
}

#remove {
	display: inline-block;
	position: absolute;
	margin: 5px 20px 20px 50px;
	font-family: 'Righteous', cursive;
	background-color: orange;
	color: whitesmoke;
	font-size: 14px;
	border-radius: 12px;
	border-color: darkorange;
}

#remove:hover {
	background-color: deeppink;
}


#spin {
	height: 38px;
	width: 180px;
	margin-left: 360px;
	font-size: 16px;
	background-color: orange;
	color: whitesmoke;
	border-radius: 12px;
	border-color: darkorange;
	font-family: 'Righteous', cursive;
}

#spin:hover {
	background-color: deeppink;
}